.graphics__container {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.graphics__background {
    background:url(../../../Images/35.png);
    padding: 2.3rem;
    background-repeat: no-repeat;
    background-position-y: 80%;
    backdrop-filter: #5674E6;
}