.blogs__container {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.blogs__background {
    background:url(../../../Images/19.png);
    padding: 2.3rem;
    background-repeat: no-repeat;
    background-position: 0rem;
    backdrop-filter: #5674E6;
}